<div class="register_page mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <h1>Customer Profile</h1>
                    <hr>
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" [noValidate]="false">

                        <div class="row">
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"><i class="fa-solid fa-user"></i> Username</label>
                                    <input type="text" class="form-control" disabled
                                        [(ngModel)]="currentLoggedInUser.username" name="username">
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"><i class="fa-solid fa-envelope"></i> Email
                                        address</label>
                                    <input type="email" class="form-control" disabled [(ngModel)]="currentLoggedInUser.email"
                                        name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                        id="exampleInputEmail1" required aria-describedby="emailHelp">
                                </div>
                            </div>

                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"><i class="fa-solid fa-phone"></i> Mobile
                                        Number</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="currentLoggedInUser.mobileNumber" name="mobileNumber"
                                        #mobileNumber = 'ngModel'
                                        pattern="^[6-9][0-9]{9}$"  required>
                                </div>
                                <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty||mobileNumber.touched)">
                                    <div *ngIf="mobileNumber.errors?.['required']" class="alert alert-danger">
                                     Mobile Number is required
 
                                    </div>
                                    <div *ngIf="mobileNumber.errors?.['pattern']" class="alert alert-danger">
                                        Please enter a valid 10-digit Indian mobile number starting with a digit between 6 and 9.
                                    </div>
 
                                 </div>
                            </div>
                            <div class="col-6 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">FLat, Building No</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="currentLoggedInUser.addessLine1" name="addessLine1" 
                                        #addessLine1 = 'ngModel' pattern="^(?=.*\d{2})[a-zA-Z0-9]{3,6}$"
                                        required>
                                </div>
                                <div *ngIf="addessLine1.invalid && (addessLine1.dirty||addessLine1.touched)">
                                    <div *ngIf="addessLine1.errors?.['required']" class="alert alert-danger">
                                     Flat Number is required
 
                                    </div>
                                    <div *ngIf="addessLine1.errors?.['pattern']" class="alert alert-danger">
                                        Enter valid Flat Number e.g:A12,B45C,345,A1607
                                    </div>
 
                                 </div>
                            </div>
                            <div class="col-6 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Area, Society</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="currentLoggedInUser.addessLine2" #addessLine2 = 'ngModel' 
                                        name="addessLine2" pattern="^[a-zA-Z ,]{5,50}$"
                                        required>
                                </div>
                                <div *ngIf="addessLine2.invalid && (addessLine2.dirty||addessLine2.touched)">
                                    <div *ngIf="addessLine2.errors?.['required']" class="alert alert-danger">
                                     Society is required
 
                                    </div>
                                    <div *ngIf="addessLine2.errors?.['pattern']" class="alert alert-danger">
                                    Enter valid Society name e.g: Sparklet, New Heights
                                    </div>
 
                                 </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1"><i class="fa-solid fa-city"></i> City</label>
                                    <select class="form-control" [(ngModel)]="currentLoggedInUser.city" 
                                        name="city" required>
                                        <option [value]="currentLoggedInUser.city">{{currentLoggedInUser.city}}</option>
                                        <option value="New Delhi">New Delhi</option>
                                        <option value="Mumbai">Mumbai</option>
                                        <option value="Kolkata">Kolkata</option>
                                        <option value="Chennai">Chennai</option>
                                        <option value="Bengaluru">Bengaluru</option>
                                        <option value="Hyderabad">Hyderabad</option>
                                        <option value="Ahmedabad">Ahmedabad</option>
                                        <option value="Jaipur">Jaipur</option>
                                        <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                        <option value="Lucknow">Lucknow</option>
                                        <option value="Bhopal">Bhopal</option>
                                        <option value="Patna">Patna</option>
                                        <option value="Raipur">Raipur</option>
                                        <option value="Dehradun">Dehradun</option>
                                        <option value="Itanagar">Itanagar</option>
                                        <option value="Dispur">Dispur</option>
                                        <option value="Panaji">Panaji</option>
                                        <option value="Shillong">Shillong</option>
                                        <option value="Aizawl">Aizawl</option>
                                        <option value="Imphal">Imphal</option>
                                        <option value="Gangtok">Gangtok</option>
                                        <option value="Agartala">Agartala</option>
                                    </select>
                                        
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">State</label>
                                    <select class="form-control" [(ngModel)]="currentLoggedInUser.state"
                                        name="state" required>
                                        <option [value]="currentLoggedInUser.state">{{currentLoggedInUser.state}}</option>
                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chandigarh">Chandigarh</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                        <option value="Daman and Diu">Daman and Diu</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Ladakh">Ladakh</option>
                                        <option value="Lakshadweep">Lakshadweep</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Puducherry">Puducherry</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Country</label>
                                    <input type="text" disabled class="form-control" [(ngModel)]="currentLoggedInUser.country"
                                        name="country" required>
                                </div>
                            </div>

                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Pin Code</label>
                                    <input type="text" class="form-control" [(ngModel)]="currentLoggedInUser.zipCode"
                                        name="zipCode" #zipCode = 'ngModel' pattern="^[1-9][0-9]{2}\s{0,1}[0-9]{3}$" required>
                                </div>
                                <div *ngIf="zipCode.invalid && (zipCode.dirty||zipCode.touched)">
                                    <div *ngIf="zipCode.errors?.['required']" class="alert alert-danger">
                                     Pincode is required
 
                                    </div>
                                    <div *ngIf="zipCode.errors?.['pattern']" class="alert alert-danger">
                                        Please enter a valid 6-digit pin code e.g:123 456 or 123456, where the first digit cannot be 0.
                                    </div>
 
                                 </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">PAN</label>
                                    <input type="text" class="form-control" [(ngModel)]="currentLoggedInUser.pan"
                                    #pan = 'ngModel'   name="pan" 
                                    pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$"    required>
                                </div>
                                <div *ngIf="pan.invalid && (pan.dirty||pan.touched)">
                                    <div *ngIf="pan.errors?.['required']" class="alert alert-danger">
                                     PAN is required
 
                                    </div>
                                    <div *ngIf="pan.errors?.['pattern']" class="alert alert-danger">
                                        Please enter a valid PAN number in the format of ABCDE1234F
                                    </div>
 
                                 </div>
                            </div>

                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Account No</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="currentLoggedInUser.bank.accountNo" 
                                        #accountNo = 'ngModel'    name="accountNo" 
                                    pattern="^[0-9]{9}$" required>
                                </div>
                                <div *ngIf="accountNo.invalid && (accountNo.dirty||accountNo.touched)">
                                    <div *ngIf="accountNo.errors?.['required']" class="alert alert-danger">
                                     Account number is required
 
                                    </div>
                                    <div *ngIf="accountNo.errors?.['pattern']" class="alert alert-danger">
                                        Account number must be of 9 digits
                                    </div>
 
                                 </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Bank Name</label>
                                    <select  class="form-control"
                                        [(ngModel)]="currentLoggedInUser.bank.bankName" name="bankName" required>
                                        <option [value]="currentLoggedInUser.bank.bankName">{{currentLoggedInUser.bank.bankName}}</option>
                                        <option value="HDFC Bank">HDFC Bank</option>
                                        <option value="ICICI Bank">ICICI Bank</option>
                                        <option value="Axis Bank">Axis Bank</option>
                                        <option value="UCO Bank">UCO Bank</option>
                                        <option value="Union Bank">Union Bank</option>
                                        <option value="State Bank of India">State Bank of India</option>
                                        <option value="Central Bank">Central Bank</option>
                                        <option value="Yes Bank">Yes Bank</option>
                                        <option value="PNB">PNB</option>
                                        <option value="Indian Bank">Indian Bank</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">ifsc No</label>
                                    <input type="text" class="form-control"
                                        [(ngModel)]="currentLoggedInUser.bank.ifscNo" name="ifscNo" 
                                        #ifscNo = 'ngModel'  pattern="^[A-Z]{4}[0]{1}[A-Z0-9]{6}$" required>
                                </div>
                                <div *ngIf="ifscNo.invalid && (ifscNo.dirty||ifscNo.touched)">
                                    <div *ngIf="ifscNo.errors?.['required']" class="alert alert-danger">
                                     IFSC is required
 
                                    </div>
                                    <div *ngIf="ifscNo.errors?.['pattern']" class="alert alert-danger">
                                        Please enter a valid IFSC code in the format of ABCD0123456, fifth character must be 0
 
                                    </div>
 
                                 </div>
                            </div>

                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="roleId">Cylinder</label>
                                    <select class="form-control" 
                                        [(ngModel)]="currentLoggedInUser.cylinder.cylinderId" name="cylinderId">
                                        <option [value]="item.cylinderId" *ngFor="let item of cylinderList">
                                            {{item.type}} : {{item.weight}} KG : {{item.price |
                                            currency:"INR":"symbol"}}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-4 mt-3">
                                <div class="form-group">
                                    <label for="exampleInputPassword1"><i class="fa-solid fa-lock"></i> Password</label>
                                    <input type="password" class="form-control"
                                        [(ngModel)]="currentLoggedInUser.password" name="password" #password = 'ngModel'
                                        id="exampleInputPassword1" required pattern ="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[^\w\s]).{8,}$">
                                </div>
                                <div *ngIf="password.invalid && (password.dirty||password.touched)">
                                    <div *ngIf="password.errors?.['required']" class="alert alert-danger">
                                     Password is required
 
                                    </div>
                                    <div *ngIf="password.errors?.['pattern']" class="alert alert-danger">
                                        Please enter a valid password that is at least 8 characters long and contains at least one uppercase letter, one lowercase letter, one digit, and one special character
 
                                    </div>
 
                                 </div>

                            </div>
                        </div>

                        <button type="submit" class="btn btn-outline-primary mt-3">UPDATE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>